# Not to upload other secrets [secret5.{sh,py} will not be ignored since it is already tracked]
/.53c2375/**
# Some other assets (Like icons used for panel widgets)
/.assets/.others/
# It is populated
/Dev/code-data/**
/Dev/lobby/**
/Dev/jupyter/
# Not to upload
/Dev/.ssh/
# Tools for Dev
/Dev/bin/flutter
/Dev/VSCode-linux-x64/
# May upload in other repos
/Setup/Panel/Scripts/**

### My Coding Environment ###
# DOLPHIN Directory metadata
.directory
# VS_CODE PYTHON Unit test / coverage reports
.pytest_cache/
# PYTHON Byte-compiled / optimized / DLL files
__pycache__/

### Some personal dirs ###
# Place for testing, Currently Working, Place for Future/Past Projects
/Lobby/
/CuWo/
/Desk/
# Engineering related, ...
/Engg/
/Pbco/
/Sbco/
# Files which i created when i am bored, Log for My Things
/Bored/
/Things/

### Temporary ###
# By nk.py (uncommitted version)
/.logs/


## Testing repo
# ~/nk >>> git ls-files | column                                      ±[●][master]
# .53c2375/secret5.py                     Dev/code
# .53c2375/secret5.sh                     Dev/code-data/.gitkeep
# .assets/NK.ico                          Dev/lobby/.gitkeep
# .assets/NK.png                          Setup/Panel/Scripts/.gitkeep
# .assets/nk.ico                          Setup/Sh/Envs.sh
# .assets/nk.png                          Setup/Sh/Envs/PYTHONPATH.sh
# .gitignore                              Setup/Sh/nk-profile.sh
# Dev/<any_code_editor>/bin/.gitkeep      Setup/Sh/nk-profile.sh_notes
# Dev/<any_code_editor>/data              Setup/Sh/nk-profile.sh_notes2
# Dev/Envs/Github.sh                      Setup/Sh/nk-rcfile.sh
# Dev/Envs/Python.sh                      Setup/Sh/zm_nk-profile.sh
# Dev/bin/.generate_path                  nk.py
# Dev/bin/.path                           setup-nk.py
# Dev/bin/code

## Testing .gitignore
# ~/nk >>> find . -path './.git' -prune -o -type d -printf '%p/\n' -o -print | while IFS= read -r i; do
# if git check-ignore -v "$i" 1>/dev/null; then :
# else echo "$i"
# fi
# done
# ./
# ./.assets/
# ./.assets/NK.ico
# ./.assets/nk.ico
# ./.assets/NK.png
# ./.assets/nk.png
# ./setup-nk.py
# ./nk.py
# ./Dev/
# ./Dev/lobby/
# ./Dev/lobby/.gitkeep
# ./Dev/Envs/
# ./Dev/Envs/Python.sh
# ./Dev/Envs/Github.sh
# ./Dev/bin/
# ./Dev/bin/.path
# ./Dev/bin/code
# ./Dev/bin/.generate_path
# ./Dev/code
# find: ‘./Dev/.ssh’: Permission denied
# ./Dev/code-data/
# ./Dev/code-data/.gitkeep
# ./.53c2375/
# ./.53c2375/secret5.sh
# ./.53c2375/secret5.py
# ./Setup/
# ./Setup/Sh/
# ./Setup/Sh/zm_nk-profile.sh
# ./Setup/Sh/nk-rcfile.sh
# ./Setup/Sh/nk-profile.sh
# ./Setup/Sh/nk-profile.sh_notes
# ./Setup/Sh/Envs/
# ./Setup/Sh/Envs/PYTHONPATH.sh
# ./Setup/Sh/Envs.sh
# ./Setup/Sh/nk-profile.sh_notes2
# ./Setup/Panel/
# ./Setup/Panel/Scripts/
# ./Setup/Panel/Scripts/.gitkeep
# ./.gitignore
# ~/nk >>> 
