# Specifies intentionally untracked files to ignore.
# Each line specifies a pattern, for Git to ignore paths.
# Files already tracked by Git are not affected.
# https://git-scm.com/docs/gitignore


# Not to upload other secrets [secret5.{sh,py} will not be ignored since it is already tracked]
/.53c2375/**
# Some other assets (Like icons used for panel widgets)
/.assets/.others/
# It is populated
/Dev/code-data/**
/Dev/lobby/**
/Dev/jupyter/
# Not to upload
/Dev/.ssh/
# Tools for Dev
/Dev/bin/flutter
/Dev/VSCode-linux-x64/
# Better to be in local
/Notes/*
# May upload in other repos
/Setup/Panel/Scripts/**
# Just git repo of kbd from git.kernel.org
/Setup/Tty/kbd/

### My Coding Environment ###
# DOLPHIN Directory metadata
.directory
# VS_CODE PYTHON Unit test / coverage reports
.pytest_cache/
# VScode workspace dir
.vscode/
# PYTHON Byte-compiled / optimized / DLL files
__pycache__/

### Some personal dirs ###
# Place for testing, Currently Working, Place for Future/Past Projects
/Lobby/
/CuWo/
/Desk/
# Engineering related, ...
/Engg/
/Pbco/
/Sbco/
# Files which i created when i am bored, Log for My Things
/Bored/
/Things/

### Temporary ###
# By nk.py (uncommitted version)
/.logs/


## Testing repo
# ~/nk >>> git ls-files | column                                      ±[●][master]
# .53c2375/secret5.py                     Dev/bin/.generate_path
# .53c2375/secret5.sh                     Dev/bin/.path
# .assets/Dev.ico                         Dev/bin/code
# .assets/Dev.png                         Dev/code
# .assets/NK.ico                          Dev/code-data/.gitkeep
# .assets/NK.png                          Dev/lobby/.gitkeep
# .assets/NewK.ico                        Notes/.gitkeep
# .assets/Notes.ico                       Setup/Panel/Scripts/.gitkeep
# .assets/Notes.png                       Setup/Sh/Envs.sh
# .assets/nk.ico                          Setup/Sh/Envs/PYTHONPATH.sh
# .assets/nk.png                          Setup/Sh/nk-profile.sh
# .assets/nk_.ico                         Setup/Sh/nk-profile.sh_notes
# .assets/nk_.png                         Setup/Sh/nk-profile.sh_notes2
# .gitignore                              Setup/Sh/nk-rcfile.sh
# Dev/<any_code_editor>/bin/.gitkeep      Setup/Sh/zm_nk-profile.sh
# Dev/<any_code_editor>/data              nk.py
# Dev/Envs/Github.sh                      setup-nk.py
# Dev/Envs/Python.sh

## Testing .gitignore
# ~/nk >>> find . -path './.git' -prune -o -type d -printf '%p/\n' -o -print | sort | while if [ -z "$i" ]; then IFS= read -r i; fi; do
# if git check-ignore -v "$i" 1>/dev/null; then tput setaf 1; echo X "$i"; else tput setaf 10; echo O "$i"; fi
# if [[ $i =~ '/'$ ]]; then i="$i"'if_have_some_file'; else i=''; fi
# done
# O ./
# O ./if_have_some_file
# O ./.53c2375/
# X ./.53c2375/if_have_some_file
# O ./.53c2375/secret5.py
# O ./.53c2375/secret5.sh
# O ./.assets/
# O ./.assets/if_have_some_file
# O ./.assets/Dev.ico
# O ./.assets/Dev.png
# O ./.assets/NewK.ico
# O ./.assets/nk.ico
# O ./.assets/nk_.ico
# O ./.assets/NK.ico
# O ./.assets/nk.png
# O ./.assets/nk_.png
# O ./.assets/NK.png
# O ./.assets/Notes.ico
# O ./.assets/Notes.png
# X ./.assets/.others/
# X ./.assets/.others/if_have_some_file
# X ./Bored/
# X ./Bored/if_have_some_file
# X ./Bored/somefile
# X ./CuWo/
# X ./CuWo/if_have_some_file
# X ./CuWo/somefile
# X ./Desk/
# X ./Desk/if_have_some_file
# X ./Desk/somefile
# O ./Dev/
# O ./Dev/if_have_some_file
# O ./Dev/<any_code_editor>/
# O ./Dev/<any_code_editor>/if_have_some_file
# O ./Dev/<any_code_editor>/bin/
# O ./Dev/<any_code_editor>/bin/if_have_some_file
# O ./Dev/<any_code_editor>/bin/.gitkeep
# O ./Dev/<any_code_editor>/data
# O ./Dev/bin/
# O ./Dev/bin/if_have_some_file
# O ./Dev/bin/code
# O ./Dev/bin/.generate_path
# O ./Dev/bin/.path
# O ./Dev/code
# O ./Dev/code-data/
# X ./Dev/code-data/if_have_some_file
# O ./Dev/code-data/.gitkeep
# X ./Dev/.directory
# O ./Dev/Envs/
# O ./Dev/Envs/if_have_some_file
# O ./Dev/Envs/Github.sh
# O ./Dev/Envs/Python.sh
# O ./Dev/Envs/Shell.sh
# X ./Dev/jupyter/
# X ./Dev/jupyter/if_have_some_file
# O ./Dev/lobby/
# X ./Dev/lobby/if_have_some_file
# O ./Dev/lobby/.gitkeep
# X ./Dev/.ssh/                        (Possibly:: find: ‘./Dev/.ssh’: Permission denied)
# X ./Dev/.ssh/if_have_some_file
# X ./.directory
# X ./Engg/
# X ./Engg/if_have_some_file
# X ./Engg/somefile
# O ./.gitignore
# X ./Lobby/
# X ./Lobby/if_have_some_file
# X ./Lobby/somefile
# X ./.logs/
# X ./.logs/if_have_some_file
# X ./.logs/somefile
# O ./nk.py
# O ./Notes/
# X ./Notes/if_have_some_file
# X ./Notes/.directory
# O ./Notes/.gitkeep
# X ./Pbco/
# X ./Pbco/if_have_some_file
# X ./Pbco/somefile
# X ./.pytest_cache/
# X ./.pytest_cache/if_have_some_file
# X ./Sbco/
# X ./Sbco/if_have_some_file
# X ./Sbco/somefile
# O ./Setup/
# O ./Setup/if_have_some_file
# X ./Setup/.directory
# O ./setup-nk.py
# O ./Setup/Panel/
# O ./Setup/Panel/if_have_some_file
# O ./Setup/Panel/Scripts/
# X ./Setup/Panel/Scripts/if_have_some_file
# O ./Setup/Panel/Scripts/.gitkeep
# O ./Setup/Sh/
# O ./Setup/Sh/if_have_some_file
# O ./Setup/Sh/Envs/
# O ./Setup/Sh/Envs/if_have_some_file
# O ./Setup/Sh/Envs/PYTHONPATH.sh
# O ./Setup/Sh/Envs.sh
# O ./Setup/Sh/nk-profile.sh
# O ./Setup/Sh/nk-profile.sh_notes
# O ./Setup/Sh/nk-profile.sh_notes2
# O ./Setup/Sh/nk-rcfile.sh
# O ./Setup/Sh/zm_nk-profile.sh
# O ./Setup/Tty/
# O ./Setup/Tty/if_have_some_file
# X ./Setup/Tty/kbd/
# X ./Setup/Tty/kbd/if_have_some_file
# X ./Setup/Tty/kbd/somefile
# O ./Setup/Tty/dumpkeys_notes
# O ./Setup/Tty/dumpkeys-_notes
# O ./Setup/Tty/dumpkeys-l_notes
# O ./Setup/Tty/nk_kbd-header.inc
# O ./Setup/Tty/nk_kbd-us.map
# O ./Setup/Tty/nk_kbd-us.map_notes
# O ./Setup/Tty/setup-nk_kbd.py
# X ./Things/
# X ./Things/if_have_some_file
# X ./Things/somefile
# O ./.unsat
# X ./.vscode/
# X ./.vscode/if_have_some_file
# X ./.vscode/settings.json
# ~/nk >>> 
